<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial;
            padding: 20px;
        }
        h2 {
            color: #0077ee;
        }
    </style>
</head>
<body>
    <h2>Informations du formulaire</h2>
    <p><strong>Nom du club :</strong> {{ club_name }}</p>
    <p><strong>Email du responsable :</strong> {{ email }}</p>
    <p><strong>Email du club :</strong> {{ email_club }}</p>   
    <p><strong>Président :</strong> {{ president_name }}</p>
    <p><strong>Vice-Président :</strong> {{ vice_president_name }}</p>
    <p><strong>Demande par :</strong> {{ requested_by }}</p>
</body>
</html>
